{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block stylesheets %}
  <link href="{{asset('CSS/connec.css')}}" rel="stylesheet" />      
{% endblock %}

{% block body %}

  {{ include("shared/headerconnexion.html.twig") }}
  

  <div class="container">
  
    <form action="{{path('app_login')}}"  class="form-2" method="post">
      <h2><span class="log-in">Log in</span></h2>
      
      <div class="row">
        <p class="float">
          <label for="login"><i class="fa fa-user"></i>Email</label>
          <input type="text"  id="username" name="_username" placeholder="Username or email" autocomplete="off">
        </p>
        <p class="float">
          <label for="password"><i class="fa fa-unlock-alt"></i>Password</label>
          <input type="password" id="password" name="_password" placeholder="Password" class="showpassword" autocomplete="off">
        </p>
      </div>
  
  
      <p class="row"> 
        <input type="submit" name="submit" value="Log in">
      </p>
  
    </form>
  </div>

  {% if error %}

<div class="font-bold mt-6 font-extrabold text-transparent text-5xl bg-clip-text bg-gradient-to-r from-black to-gray-500 text-center uppercase italic">{{error.messageKey|trans(error.messageData, 'security')}} </div>


{% endif %}


{% endblock %}
