
<head>
    <link href="https://fonts.googleapis.com/css?family=Scada:400,400i,700&display=swap" rel="stylesheet"> 
    <link href="{{asset('CSS/headermin.css')}}" rel="stylesheet" />
  </head>
  
  <body>
    <div class="header">
      <div class="inner-header">
      <div class="logo">
        <a href='{{path('admingame', {})}}'><img class="rounded" src="https://png.pngtree.com/png-clipart/20211009/original/pngtree-mysterious-computer-hacker-character-illustration-png-image_6841062.png" width="70px" height="70px"></a>
      </div>
  
      <div class="nav">
        <ul>
          <li><a href="{{path('allgame', {})}}">HOMEPAGE</a></li>
        </ul>
      </div>
      </div>
    </div>