<head>
    <link href="https://fonts.googleapis.com/css?family=Scada:400,400i,700&display=swap" rel="stylesheet"> 
    <link href="{{asset('CSS/headeradmin.css')}}" rel="stylesheet" />
  </head>
  
  <body>
    <div class="header">
      <div class="inner-header">
      <div class="logo">
        <a href='{{path('allgame', {})}}'><img class="rounded" src="https://png.pngtree.com/template/20190916/ourmid/pngtree-pro-gamer---gaming-logo-design-template-image_304123.jpg" width="70px" height="70px"></a>
      </div>
  
      <div class="nav">

      </div>
      </div>
    </div>
