

    <div class="header">
      <div class="inner-header">
      <div class="logo mt-4">
        <a href='{{path('allgame', {})}}'><img class="rounded" src="https://png.pngtree.com/template/20190916/ourmid/pngtree-pro-gamer---gaming-logo-design-template-image_304123.jpg" width="70px" height="70px"></a>
      </div>
  
      <div class="nav h-18">
        <ul>

          <div class="flex space-x-32 font-bold ">

          <div class='h-8 w-6 mt-8 font-bold '>
          <li><a href="{{path('admingame')}}">ADMIN</a></li>
          </div>

          <div class=''>
          <li class='mr-32'>
            {{ include("@game/search.html.twig") }}</li>
          </div>

        </div>
        
        </ul>
      </div>
      </div>
    </div>